@import '../../styles/_colors.scss';

.UserRecipesNav {
    width:100%;
    background-color: $muted-dark;
    padding: 1rem 0;

    div{
        width: 15rem;
    }
}

.UserRecipesNav-button {
    width: 100%;
    margin: auto;
    color: $bright-white;
    border: $bright-white solid 1px;
    border-radius: 0;

}

.selected {
    background-color: $bright-white;
    border: none;
    color:$primary;
}