@import '../../styles/_recipe-mixins.scss';

.RecipeCard {
    // @include Recipe;
    margin: 1rem;
    margin-top: 200px;
    // background-color: #fcf7f0;
    z-index:5;
    position:relative;
    border-radius: 5px;
}

.RecipeBanner {
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:350px;
    object-fit: cover;
}
