@import "../styles/colors";

/************************** RECIPE ******************/

@mixin Recipe {
    margin: 1rem;
    margin-top: 200px;
    position: relative;

}

@mixin RecipeBanner {
    z-index: 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:350px;
    object-fit: cover;
}

@mixin RecipeInfo {
    color: $bright-white;
    width: 100%;

    .RecipeInfo-nameContainer {
        width:100%;
        display:flex;

        svg {
            font-size: 2rem;
            align-self: flex-start;
            flex-basis:2rem;
            flex-grow:0;
            flex-shrink:0;
            min-width: 2rem;
        }

        .RecipeInfo-name {
            color: $bright-white;
            display: inline-block;
        }
        .RecipeInfo-name:hover, .RecipeInfo-name:focus {
            color:$secondary;
        }
    }

    .RecipeInfo-description {
        margin: 2rem 0;
        font-style: italic;
    }

    .RecipeInfo-sourceName{
        @content;
    }

    a {
        color: $secondary;
        text-decoration: none;
    }

    @media (max-width:600px){
        .RecipeInfo-description{
            display:none;
        }
    }
}
/************************** STEPS ******************/

@mixin Step {
    padding:1rem;
    width: 100%;
    position: relative;

    .Step-vdivider {
        background-color: $primary;
        width:3px;
    }
    .Step-hdivider {
        background-color: $primary;
        height:2px;
    }
}


@mixin Step-number {
        align-self: center;
        font-size: 4rem;
        font-weight: 900;
        font-style: italic;
        color:$primary;
        margin-right: 1rem;
        margin-bottom: 1rem;
}

@mixin Step-ingredients {
        display: flex;
        align-items: center;
        width:300px;
        flex-shrink:0;

        @media (max-width:600px){
            width:100%
        }

}

@mixin Step-instructions {
        @content;
}


//Instruction rules
@mixin Instruction {
    resize: none;
    width:100%;
    height: 100%;
    min-height: fit-content;
    padding:.5rem;
    font-size: 1.5rem;
    font-weight:300;
}

/************************** INGREDIENTS ******************/

// Ingredient-list rules
@mixin IngredientList {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    align-items: center;

    .ingredientList-item {
        display:flex;
        flex-wrap: nowrap;
        // width:max-content;
    }

    
}

// Ingredient rules
@mixin Ingredient {
    width:100%;
    text-transform: uppercase;

    & svg {
        color:$primary;
        display:inline-block;
        align-self:start;
    }

    div {
        display:inline-block;
    }


    .capsule-left, .capsule-right {
        border: none;
        padding:.5rem;
        color:white;
        font-size:1rem;
        font-weight: 900;
    }

    .capsule-left {
        background: linear-gradient(90deg, $butternut, mix(white, $butternut, 20));
        border-radius: 2rem 0 0 2rem;
        padding-left: 1rem;
    }

    .capsule-right {
        background-color: $butternut;
        border-radius: 0 2rem 2rem 0;
        padding-right:1rem;
    }
}

@mixin ingredient-list {

}