
$wine: #390f14;
$plum: #944c6d;
$lavendar: #8b7da6;
$berry: #1e6a81;
$ice: #7bacc0;
$mint: #9ec7ac;
$kale: #006557;
$pumpkin: #d26500;
$butternut: #ffa32a;
$peach: #feb48d;
$chili: #ec5600;


$colors:(
    wine: $wine,
    plum: $plum,
    lavendar: $lavendar,
    berry: $berry,
    ice: $ice,
    mint: $mint,
    kale: $kale,
    pumpkin: $pumpkin,
    butternut: $butternut,
    peach: $peach,
    chili: $chili,
)