@import "../../styles/colors";

.RecipeFromText {
    .MuiFormControl-root {
        width:100%;
        background-color: $bright-white;
        width:100%;
        margin-bottom:1rem;
    }

    input, textarea {

    }

    .RecipeFromText-title {
        color:$primary;
    }
}