@import '../../styles/_colors.scss';

.GenerateRecipeDisplay {
    color:$charcoal;
    h2 {
        color:$primary;
    }
}

.GenerateRecipeDisplay-nav {
    width:100%;
    background-color: $muted-dark;
    padding: 1rem 0;
}


.GenerateRecipeDisplay-button {
    width: 15rem;
    margin: auto;
    color: $bright-white;
    background-color: $muted-dark;
    border: $bright-white solid 1px;
    border-radius: 0;

    &.selected {
        background-color: $bright-white;
        border: none;
        color:$primary;
    }
}

.GenerateRecipeDisplay-contents {
    min-height:400px;
    padding:1rem;
    width:100%;
}

.GenerateRecipeDisplay-formContainer {
    height:100%;
    width:100%;
}