@import "./styles/colors";

.App {
  // width: 100%;
  background-color:$muted-light;
}

.App-page {
  background-color: mix($muted-light, white,50);
  padding:2rem;
  padding-bottom:0rem;
  position:relative;
  min-height: 100vh;
}

