.AutoResizeInput {
    position: relative;
    width:fit-content;
    display: inline-block;

    .AutoResizeInput-clone {
        //Position out of window
        position: absolute;
        top: -1000em;
        left:-1000em;

        //
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: inherit;
    }

}

.AutoResizeInput > span {
    position: absolute;
    top: -1000em;
    left:-1000em;
}

.AutoResizeInput > input {
    padding: 5px;
}

