@import "../../styles/colors";

.CookbookButton {

    .CookbookButton-add {
        color: $bright-white;

        & :hover {
            color: $secondary
        }
    }

    .CookbookButton-remove {
        color: $secondary;

        & :hover {
            color: $bright-white
        }
    }
}