@import "../../styles/colors";

.FavoriteButton {

    .FavoriteButton-add {
        color: $bright-white;

        & :hover {
            color: $secondary
        }
    }

    .FavoriteButton-remove {
        color: $secondary;

        & :hover {
            color: $bright-white
        }
    }
}