@import "../../styles/colors";

._NavBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: $primary;
    height: 50px;
    width:100%;

    color:$almond-light;

    & > * {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
    }
}

._NavBar-home {
    font-weight: 700;
    font-size:large;
    svg {
        margin-right: .5rem;
        transform: translateY(-.15rem);
        color: $brightwhite;
    }
}

._NavBar-search {
    display:flex;
    flex-direction: row;
    align-items: center;

    background-color: $brightwhite;
    color:$muted;

    width: 30%;
    min-width:250px;
    height:60%;
    padding:.5rem;


    border-radius: 1rem;

    & input, input:focus {
        margin:1rem;
        flex-grow: 1;
        flex-basis: .9fr;

        background-color: $brightwhite;
        color:$charcoal;

        font-size: large;

        outline:none;
        border:none;
    }
}

._NavBar-links {
    font-size: larger;
    color: $brightwhite;

    & li {
        display: flex;
        align-items: center;

        font-weight: 400;
        list-style-type: none ;
        margin: 1rem;

        & svg {
            margin:10px;
            color:$almond-light;
        }
    }
}

._NavBar-dropdown {
    position:relative;
}