@import "../../styles/colors";

.NavBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:0 1rem 0 1rem;

    background-color: $primary;
    height: 50px;
    width:100%;

    color:$almond-light;
}

.NavBar-home {
    a {
        font-weight: 700;
        font-size:large;
        text-decoration: none;
        color:$muted;
        display: flex;
        align-items: center;
    }

    svg {
        margin-right: .5rem;
        transform: translateY(-.15rem);
        color: $bright-white;
    }
}

.NavBar-search {

    background-color: $bright-white;

    height:60%;
    border-radius: 1rem;
    box-shadow: none;

    border:none;

    .MuiFormControl-root{
        height:100%;
    }

    .MuiInputBase-root {
        height:100%;

        .MuiInputBase-input{
            margin:0;
        }

        & .MuiOutlinedInput-root {
            border:none;
        }
    }

    & svg {
        color:$muted;
    }

    &  * {
        border-radius: 1rem;
        border:none;
        outline:none;
        box-shadow:none;
    }

    input {
        color:$charcoal;
    }

}


.NavBar-links {
    font-size: larger;
    color: $bright-white;

    & button {
        display: flex;
        align-items: center;
        font-size: 1rem;

        font-weight: 400;
        list-style-type: none ;

        & svg {
            color:$almond-light;
        }
    }
}

.NavBar-dropdown {

    & a {
        text-decoration: none;
        color:$charcoal;
    }

    & ul {
        background-color:$bright-white;


        & li {
            // margin:10px;
            // border: solid 1px $primary;
            font-weight: 300;
        }
    }

    & .NavBar-dropdownItems {
        border: solid 1px charcoal;
        padding: .5rem 1rem;
    }
}

.loginModal {
    height:100%;
    width:100%;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}